<!DOCTYPE html>
<html>
    <head>
        <title>Dead</title>
        <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet" />
        <style>
           .centered {
               text-align: center;
               margin-left: 100px;
               margin-right: 100px;  
               font-size: 20px;
            }
            .links {
                margin-left: 600px; 
                margin-right: 800px;
            }
        </style>
    </head>
        <body> 
        <h1>Oops, Looks like I died</h1>
        <div class="centered">
           <p>Hey, so if you're reading this it means that I'm dead. Which sucks ass, but what are you gonna do?
              If you're seeing this it means I gave you this site, and you have a file from me saying goodbye. 
              I kindly ask that you only look at your file and no one else's. I have also enclosed my will which anyone may view if they so wish. 
              <div class="links">
                  <a href='/M2PMavToIbuJutmknngE/alex'>Alex</a>
                  <a href='/M2PMavToIbuJutmknngE/avery'>Avery</a>
                  <a href='/M2PMavToIbuJutmknngE/lauren'>Lauren</a>
                  <a href='/M2PMavToIbuJutmknngE/makenzie'>Makenzie</a>
                  <a href='/M2PMavToIbuJutmknngE/regan'>Regan</a>
                  <a href='/M2PMavToIbuJutmknngE/will'>Last Will and Testament</a>
              </div>
        </div>
            </p>
            </div>
    </body>
</html>
